.neo-codap-graph {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.nc-graph-message {
  padding: 30px;
}

.nc-point {
    r: 6px;
    fill: #e6805b;
    stroke: white;
    fill-opacity: 0.7;
    stroke-opacity: 0.8;
    shape-rendering: geometricPrecision;
}

.nc-point:active {
    fill: steelblue;
}

.nc-point:hover {
    r: 8px;
}

.axis path,
.axis line {
    fill: none;
    stroke: gray;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    fill: black;
}

.nc-graph-menu-popover {
    position: absolute;
    left: 60px;
    top: 6px;
}

.nc-popover-container {
    position: absolute;
    left: 0;
}

.nc-popover-container .pt-popover-target {
    width: 100%;
    height: 100%;
}

.nc-popover-container .pt-popover-target .pt-tether-target {
    width: 100%;
    height: 100%;
}

.nc-popover-menu .pt-menu {
    min-width: 120px;
}

.nc-x-popover-container {
    bottom: 0;
    width: 100%;
    height: 14px;
}

.nc-x-popover-menu {
    margin-left: 30px;
}

.nc-y-popover-container {
    top: 0;
    width: 18px;
    height: 100%;
}

.nc-y-popover-menu {
    margin-top: -8px;
}