.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*
 * React Data Grid uses 'border-box' box-sizing for its examples.
 * cf. https://www.paulirish.com/2012/box-sizing-border-box-ftw/ for best practices.
 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#root {
  height: 100vh;
}

.neo-codap-app {
  width: 100%;
  height: 100%;
  display: flex;
}

.neo-codap-app-item {
  width: 100%;
  height: 100%;
}
