.neo-codap-case-table {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.cdp-case-index-cell {
  background-color: #EEE;
}

.ag-theme-fresh .ag-cell-no-focus {
  border-bottom: 1px dotted silver;
}
