$header-height: 60px;
$toolbar-height: 38px;
$titlebar-height: 22px;
$minimized-area-height: 100px;
$minimized-window-box-width: 55px;
$minimized-window-box-height: 40px;
$minimized-titlebar-height: 5px;
$minimized-iframe-height: $minimized-window-box-height - $minimized-titlebar-height;
$sidebar-width: 200px;

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

#app, #dashboard {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  user-select: none;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;

  .progress {
    padding-left: 22px;
    background-image: url("data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==");
    background-repeat: no-repeat;
  }

  .error {
    color: #f00;
    font-weight: bold;
  }

  .clickable:hover {
    text-decoration: underline;
  }

  .editable {
    cursor: text;
  }

  .document-crud {
    .header {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      height: $header-height;
      background-color: #3E90AC;
      color: #fff;

      .logo {
        float: left;
        font-size: 24px;
        margin: 16px 20px;
       }

      .user-info {
        float: right;
        border-left: 1px solid #fff;
        min-height: $header-height;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        .user-name {
          font-size: 14px;
        }
      }
    }

    .toolbar {
      position: fixed;
      top: $header-height;
      right: 0;
      left: 0;
      height: $toolbar-height;
      background-color: #f5f5f5;
      border-bottom: 1px solid #313131;
      white-space: nowrap;
      overflow: hidden;

      .readonly-message {
        font-size: 14px;
        margin: 6px 20px;
      }
      .buttons {
        padding: 5px 20px;

        button, .button {
          border: 1px solid #313131;
          padding: 3px 8px;
          margin-top: 2px;
          font-size: 14px;
          margin-right: 10px;
        }
      }
    }

    .list-area {
      position: fixed;
      top: $header-height + $toolbar-height;
      right: 0;
      left: 0;
      bottom: 0;
      padding: 20px;
      overflow: auto;

      table {
        width: 100%;

        th, td {
          text-align: left;
        }
        .checkbox {
          width: 20px;
        }
      }

      .empty-message {
        div {
          margin: 10px 0;
        }
      }
    }
  }

  .join {
    width: 380px;
    border: 1px solid #333;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);

    .join-title {
      background-color: #3E90AC;
      color: #fff;
      font-size: 13px;
      padding: 2px 5px;
    }

    .join-content {
      padding: 20px;

      .welcome {
        font-weight: bold;
        margin-bottom: 10px;
      }

      .groups {
        .group-list {
          margin: 0 0 20px 0;
          float: left;

          .group {
            width: 75px;
            min-height: 75px;
            background-color: #ccc;
            float: left;
            margin: 10px 10px 0 0;
            cursor: pointer;
            font-size: 10px;

            .group-title {
              background-color: #3E90AC;
              color: #fff;
              text-align: center;
              padding: 3px;
            }

            .user {
              background-color: #2da343;
              padding: 3px 5px;
              padding: 3px;
              float: left;
              margin: 3px;

              &.disconnected {
                background-color: #777;
              }
            }
          }
        }
      }

      .create-group {
        clear: both;

        div {
          margin: 10px 0;
        }

        select {
          margin-right: 10px;
          padding: 3px 5px;
        }

        .button {
          border: 1px solid #313131;
          padding: 3px 8px;
          margin-top: 2px;
          font-size: 14px;
          background-color: #dddddd;
        }
      }
    }
  }

  .workspace, .dashboard {
    .readonly-blocker {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      cursor: not-allowed;
      opacity: 0;
    }

    .header {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      height: $header-height;
      background-color: #3E90AC;
      color: #fff;
      z-index: 100;

      &.template {
        background-color: #ffc320;
      }

      .document-info {
        float: left;
        margin: 10px 20px;

        .document-name {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 4px;

          .static {
            display: inline-block;
            margin-top: 2px;
          }

          input {
            margin-top: 1px;
            margin-bottom: -1px;
            border: 0;
            background: none;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            width: 400px;
          }
        }
        .instance-info {
          font-size: 12px;
        }
      }
      .user-info {
        float: right;
        border-left: 1px solid #fff;
        min-height: $header-height;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        .user-name {
          font-size: 14px;
        }
      }
      .supports {
        position: relative;
        float: right;
        min-height: $header-height;
        margin: 0 20px;
        padding-right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        .supports-icon-large {
          background-color: #ffc320;
          border-radius: 20px;
          font-size: 20px;
          padding: 5px 12px;
          border: 1px solid #fff;
        }

        .supports-icon-count {
          position: absolute;
          top: 7px;
          right: 0;
          background-color: #EA6D2F;
          border-radius: 10px;
          padding: 2px 5px;
          font-size: 12px;
        }

        $dropdown-width: 200px;
        $dropdown-item-padding: 5px;

        .supports-dropdown {
          position: absolute;
          top: $header-height;
          right: 0;
          min-width: $dropdown-width;
          max-width: $dropdown-width;
          padding: 10px;
          background-color: #3E90AC;
          font-size: 14px;
          border-left: 1px solid #000;
          border-right: 1px solid #000;
          border-bottom: 1px solid #000;

          .supports-dropdown-item {
            padding: $dropdown-item-padding;
            width: $dropdown-width - (2 * $dropdown-item-padding);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
              background-color: #6FC6DA;
            }

            .supports-dropdown-item-new {
              min-width: 12px;
              min-height: 12px;
              background-color: #EA6D2F;
              border-radius: 10px;
              margin-right: 5px;
              display: inline-block;
            }
          }
        }
      }

      .group-info {
        float: right;
        border-left: 1px solid #fff;
        min-height: $header-height;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        .group-name {
          margin: 0 10px;
          font-size: 14px;
        }

        .group-user {
          font-size: 10px;
          margin: 0 5px;
          padding: 5px;
          background-color: #2da343;

          &.disconnected {
            background-color: #777;
          }

          &.teacher {
            background-color: #EA6D2F !important;
          }
        }
      }
    }

    .toolbar {
      position: fixed;
      top: $header-height;
      right: 0;
      left: 0;
      height: $toolbar-height;
      background-color: #f5f5f5;
      border-bottom: 1px solid #313131;
      white-space: nowrap;
      overflow: hidden;

      .readonly-message {
        font-size: 14px;
        margin: 10px 0 0 20px;
      }
      .buttons {
        padding: 5px 20px;

        button, .button {
          border: 1px solid #313131;
          padding: 3px 8px;
          margin-top: 2px;
          font-size: 14px;
          margin-right: 10px;
          background-color: #dddddd;
        }

        a.button {
          padding: 4px 10px;
        }

        .left-buttons {
          float: left;
          .readonly-message {
            margin: 5px;
          }
        }
        .right-buttons {
          float: right;
        }

        .icon {
          font-size: 12px;
          margin-right: 3px;
        }
      }
    }

    .window-area {
      position: fixed;
      top: $header-height + $toolbar-height;
      right: 0;
      left: 0;
      bottom: 0;

      &.with-sidebar {
        right: $sidebar-width;
      }

      .non-minimized {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;

        &.with-minimized {
          bottom: $minimized-area-height;
        }
      }

      .minimized {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: $minimized-area-height;
        overflow: none;
        background-color: #f5f5f5;
        font-size: 12px;
        border-top: 1px solid #313131;
        padding: 0 10px;

        .minimized-window {
          display: inline-block;
          margin: 10px;
          vertical-align: top;

          .mini-window {
            height: $minimized-window-box-height;
            width: $minimized-window-box-width;
            text-align: center;
            border: 1px solid #313131;

            .titlebar {
              height: $minimized-titlebar-height;
              background-color: #ddd;
            }
            .iframe {
              height: $minimized-iframe-height;
              background-color: #fff;
            }
          }

          .title {
            text-align: center;
            max-width: $minimized-window-box-width;
            margin-top: 5px;
          }
        }
      }

      .window {
        position: absolute;
        border: 1px solid #777;
        background: #fff;
        box-shadow: 0 1px 20px 0 rgba(0,0,0,0.25);

        .titlebar {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          height: $titlebar-height;
          background-color: #ddd;
          color: #000;
          font-size: 12px;
          cursor: move;

          .title {
            float: left;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            .static {
              display: inline-block;
              margin: 3px 0 0 6px;
            }

            input {
              margin: 2px 0 0 6px;
              border: 0;
              background: none;
              color: #fff;
              font-size: 12px;
              width: 400px;
            }
          }

          .buttons {
            float: right;
            padding: 5px 6px 0 0;
            font-size: 10px;

            span {
              margin-left: 5px;
              padding: 1px 4px;
              color: #000;
              background-color: #f5f5f5;
              cursor: pointer;
            }
          }

          &.top {
            background-color: #3E90AC;
            color: #fff;
          }
        }

        .ownerbar {
          position: absolute;
          top: $titlebar-height;
          left: 0;
          right: 0;
          height: $titlebar-height;
          background-color: #aaa;
          color: #333;
          font-size: 12px;
          cursor: pointer;

          .info {
            float: left;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            .inner-info {
              display: inline-block;
              margin: 3px 0 0 6px;
            }
          }

          .links {
            float: right;
            padding: 5px 6px 0 0;
            font-size: 10px;

            span {
              margin-left: 5px;
              padding: 2px 4px 1px 4px;
              color: #000;
              background-color: #f5f5f5;
              cursor: pointer;
            }
          }

          &.top {
            background-color: #bbb;
            color: #fff;
          }
        }

        .iframe, .iframe-overlay {
          position: absolute;
          top: $titlebar-height;
          left: 0;
          right: 0;
          bottom: 0;
          overflow: hidden;

          iframe {
            border: 0;
            width: 100%;
            height: 100%;
          }

          .readonly-iframe-blocker {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            cursor: not-allowed;
            opacity: 0;
          }
        }

        .iframe-overlay {
          cursor: pointer;
          opacity: 0;
        }

        .left-drag {
          position: absolute;
          top: 0px;
          left: 0px;
          bottom: 0px;
          width: 4px;
          cursor: ew-resize;
        }

        .right-drag {
          position: absolute;
          top: 0px;
          right: 0px;
          bottom: 0px;
          width: 4px;
          cursor: ew-resize;
        }

        .top-drag {
          position: absolute;
          right: 0px;
          left: 0px;
          top: 0px;
          height: 4px;
          cursor: ns-resize;
        }

        .bottom-drag {
          position: absolute;
          right: 0px;
          left: 0px;
          height: 4px;
          bottom: 0px;
          cursor: ns-resize;
        }

        .bottom-right-drag {
          position: absolute;
          right: 0px;
          width: 10px;
          height: 10px;
          bottom: 0px;
          cursor: se-resize;
        }

        .bottom-left-drag {
          position: absolute;
          left: 0px;
          width: 10px;
          height: 10px;
          bottom: 0px;
          cursor: sw-resize;
        }

        .sidebar-menu {
          position: absolute;
          background-color: #3E90AC;
          color: #fff;
          top: $titlebar-height;
          font-size: 18px;

          .sidebar-menu-inner {
            margin: 10px;

            .icon {
              display: block;
              margin-top: 10px;
            }
          }
        }
      }

      .debug {
        position: absolute;
        top: 0;
        left: 0;
        white-space: pre;
        font-family: monospace;
        margin: 20px;
      }
    }

    .sidebar {
      position: fixed;
      top: $header-height + $toolbar-height + 1;
      right: 0;
      bottom: 0;
      width: $sidebar-width;
      color: #fff;
      background-color: #0592af;
      overflow: auto;
      font-size: 12px;
      border-left: 1px solid #000;

      .sidebar-header {
        text-align: center;
        padding: 7px 5px;
        background-color: #3E90AC;
        font-size: 14px;

        .sidebar-header-expand {
          float: right;
        }

        .icon {
          margin-right: 5px;
        }
      }

      .filter-selector {
        text-align: center;
        padding: 10px;
        font-size: 12px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;

        span {
          padding: 3px;
          margin: 0 3px;
        }

        .selected-filter {
          background-color: #6fc6da;
        }
      }

      .filter {
        text-align: center;
        padding: 5px;
        font-size: 12px;

        select {
          width: $sidebar-width - 10px;
          padding: 3px 0;
        }
        input {
          width: $sidebar-width - 15px;
          padding: 3px 0;
        }
      }

      .none-found {
        text-align: center;
        margin: 20px 0;
      }

      .publishing {
        font-style: italic;
        padding: 10px;
      }

      .publication, .publishing {
        border-bottom: 1px solid #fff;
        font-size: 12px;
        background-color: #6fc6da;

        .publication-header {
          padding: 10px;
          overflow: hidden;
        }

        .initials {
          background-color: #3E90AC;
          padding: 3px 5px;
          font-size: 10px;
        }

        .ago {
          font-style: italic;
          font-size: 10px;
          padding-top: 2px;
          float: right;
        }

        .expanded-info {
          padding: 5px 10px;
          color: #000;
          background-color: #f5f5f5;

          .user-name {
            margin: 5px 0;
            font-weight: bold;
          }

          .group-users {
            font-style: italic;
            font-size: 10px;
            margin: 5px 0 10px 0;
          }

          .windows {
            margin: 10px 0;

            .window {
              margin: 10px 0;

              .window-title {
                font-style: italic;
              }

              .artifacts {
                margin: 10px 0 5px 10px;

                .artifact {
                  img {
                    border: 1px solid #aaa;
                  }
                }
              }

              .window-actions {
                margin: 5px 10px;
              }
            }
          }
        }
      }
    }

    .image-lightbox {
      position: fixed;
      top: $header-height + $toolbar-height;
      right: $sidebar-width;
      bottom: 0;
      left: 0;

      .image-lightbox-background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000;
        opacity: 0.5;
      }
      .image-lightbox-image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 90%;
          margin-left: 10%;
        }
      }
    }

    .modal {
      position: fixed;
      top: $header-height;
      right: 0;
      bottom: 0;
      left: 0;
      border: 1px solid #333;

      .modal-background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000;
        opacity: 0.5;
      }
      .modal-dialog-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .modal-dialog {
          width: 500px;
          background-color: #fff;
          font-size: 13px;
          -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
          -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
          box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);

          .modal-dialog-title {
            background-color: #3E90AC;
            color: #fff;
            padding: 2px 5px;
          }

          .modal-dialog-content {
            .modal-dialog-inner-content {
              margin: 20px;

              input[type=text] {
                width: 100%;
              }

              .form-group {
                margin-top: 10px;
              }

              label {
                display: block;
                font-weight: bold;
                margin-bottom: 5px;
              }

              button, .button {
                border: 1px solid #313131;
                padding: 3px 8px;
                margin-top: 2px;
                font-size: 14px;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }

    .visible-supports {
      position: absolute;
      top: $header-height + $toolbar-height;
      left: 0;
      right: $sidebar-width;

      .visible-support {
        padding: 20px;
        background-color: #6FC6DA;
        margin-bottom: 5px;

        .visible-support-close {
          float: right;
          background-color: #3E90AC;
          padding: 5px 7px;
          color: #fff;
          margin-top: -5px;
        }

        .visible-support-icon {
          background-color: #FFC320;
          color: #fff;
          padding: 5px 10px;
          border-radius: 20px;
          margin-right: 10px;
        }
      }
    }

    .dashboard-table, .dashboard-support, .group-table {
      position: fixed;
      top: $header-height + $toolbar-height;
      right: 0;
      left: 0;
      bottom: 0;
      overflow: auto;
      padding: 20px;

      table {
        width: 100%;
        border-collapse: collapse;

        th {
          padding-bottom: 5px;
          text-align: left;
        }

        tbody {
          tr:hover {
            background-color: #ddd;
            color: #fff;
          }

          td {
            padding: 5px 0;
          }
        }
      }

      h2 {
        margin: 0 0 10px 0;
      }

      form {
        margin-bottom: 20px;

        textarea {
          width: 100%;
          height: 50px;
        }

        label {
          display: block;
          margin: 10px 0 5px 0;
          font-weight: bold;
        }

        .support-assign-to-block {
          display: inline-block;
          vertical-align: top;
          margin-right: 20px;
        }

        .assigned-to-label {
          font-style: italic;
        }

        .multi-select {
          display: block;
          width: 400px;
          height: 100px;
        }

        input {
          margin: 10px 0;
        }
      }

      button, .button {
        border: 1px solid #313131;
        padding: 3px 8px;
        font-size: 14px;
        background-color: #dddddd;
      }

      .support {
        background-color: #6FC6DA;
        margin: 10px 0 20px 0;
        padding: 10px;

        .support-right {
          float: right;
          text-align: right;

          div {
            margin: 5px 0;
          }

          button {
            margin-left: 5px;
          }
        }
        .support-assigned-to {
          margin: 5px 0;
          font-size: 0.9em;
        }
        .support-text {
          margin: 5px 0;
        }
        .support-seen-by {
          font-style: italic;
          font-size: 12px;
        }
      }
    }
  }

  .demo {
    text-align: center;

    div {
      margin: 10px 0;
    }
  }


  $upload-image-dialog-height: 300px;
  $upload-image-dialog-width: 700px;
  $upload-image-dialog-margin: 20px;
  $upload-image-dialog-placeholder-width: ($upload-image-dialog-width - ($upload-image-dialog-margin * 4)) / 2;
  $upload-image-dialog-placeholder-height: $upload-image-dialog-height - ($upload-image-dialog-margin * 2);
  $upload-image-dialog-form-width: $upload-image-dialog-placeholder-width;

  .upload-image {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .upload-image-background {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #000;
      opacity: 0.5;
    }

    .upload-image-form {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      .upload-image-dialog {
        position: relative;
        width: $upload-image-dialog-width;
        height: $upload-image-dialog-height + $titlebar-height;
        background-color: #fff;
        border: 1px solid #000;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);

        .upload-image-dialog-titlebar {
          height: $titlebar-height;
          background-color: #3E90AC;
          color: #fff;

          .upload-image-dialog-titlebar-title {
            display: inline-block;
            margin: 3px 0 0 6px;
            font-size: 12px;
          }
        }

        .upload-image-dialog-placeholder {
          float: left;
          margin: 20px;
          background-color: #bbb;
          width: $upload-image-dialog-placeholder-width;
          height: $upload-image-dialog-placeholder-height;
          display: flex;
          align-items: center;
          justify-content: center;

          &.uploaded {
            background-color: #fff;
          }

          img {
            max-width: $upload-image-dialog-placeholder-width;
            max-height: $upload-image-dialog-placeholder-height;
          }
        }

        .upload-image-dialog-form {
          font-size: 14px;
          float: right;
          margin: $upload-image-dialog-margin;
          width: $upload-image-dialog-form-width;

          input[type=text] {
            font-size: 14px;
            width: $upload-image-dialog-form-width;
          }

          div {
            margin: 20px 0;
          }

          label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
          }

          button {
            border: 1px solid #313131;
            padding: 3px 8px;
            font-size: 14px;
            margin-right: 10px;
          }
        }

        .upload-image-buttons {
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }
    }
  }
}

.learning-log {
  position: fixed;
  top: $header-height;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;

  .learning-log-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
  }

  .learning-log-workspace {
    position: fixed;
    top: $header-height + $toolbar-height;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;

    .centered {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .progress {
        padding-left: 22px;
        background-image: url("data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==");
        background-repeat: no-repeat;
      }

      .error {
        color: #f00;
        font-weight: bold;
      }
    }

    .learning-log-filters {
      margin: 5px 0 5px 20px;

      select {
        margin: 5px 10px 5px 0;
        padding: 5px;
      }

      input[type=text] {
        padding: 5px;
        margin-right: 10px;
        width: 200px;
      }
    }

    .learning-log-table {
      position: absolute;
      top: 50px;
      left: 20px;
      right: 20px;

      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;

        th {
          text-align: left;
          padding: 0 15px;

          span {
            margin-left: 3px;
            min-width: 20px;
            display: inline-block;
          }
        }

        tbody {
          tr:hover,
          tr.even:hover {
            background-color: #ddd;
            text-decoration: underline;
          }

          tr.selected-row {
            background-color: #ddd;
          }
          tr.even {
            background-color: #eee;
          }

          td {
            padding: 4px 15px;
            font-size: 14px;

            span {
              margin-right: 5px;
            }
          }
        }
      }
    }

    .learning-log-selected-row {
      position: fixed;
      top: $header-height + $toolbar-height;
      right: 0;
      bottom: 0;
      left: 0;

      .learning-log-selected-row-background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000;
        opacity: 0.5;
      }

      .learning-log-selected-row-modal-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .learning-log-selected-row-modal {
          width: 500px;
          background-color: #eee;
          font-size: 13px;
          -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
          -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
          box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);

          .learning-log-selected-row-modal-title {
            background-color: #3E90AC;
            color: #fff;
            padding: 2px 5px;
          }

          .learning-log-selected-row-modal-buttons {
            margin: 0 10px 10px 10px;
            text-align: right;

            button, .button {
              border: 1px solid #313131;
              padding: 3px 8px;
              margin-top: 2px;
              font-size: 14px;
              margin-right: 10px;
              background-color: #dddddd;
            }
          }

          .learning-log-selected-row-modal-preview {
            padding: 10px;

            img {
              max-width: 480px;
              min-height: 200px;
              border: 1px solid #aaa;
            }
          }
        }
      }
    }
  }
}

.progress-message-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  user-select: none;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;

  .progress-message {
    padding: 10px;
    border: 1px solid #777;
    background-color: #fff;
    color: #000;
  }
}

/* icons */

@font-face {
  font-family: 'icomoon';
  src:  url('icons/icomoon.eot?wxdlie');
  src:  url('icons/icomoon.eot?wxdlie#iefix') format('embedded-opentype'),
    url('icons/icomoon.ttf?wxdlie') format('truetype'),
    url('icons/icomoon.woff?wxdlie') format('woff'),
    url('icons/icomoon.svg?wxdlie#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-newspaper:before {
  content: "\e904";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-copy:before {
  content: "\e92c";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-table2:before {
  content: "\ea71";
}
.icon-file-picture:before {
  content: "\e927";
}
.icon-profile:before {
  content: "\e923";
}
.icon-camera:before {
  content: "\e90f";
}